{% extends "layout.html" %}

{% block title %}Daily Member Stats News{% endblock %}

{% block content %}
<h1>{{ date_str }} Member Company News</h1>
<p class="subtitle">Updated at {{ time_str }} (KST)</p>

<div class="table-responsive">
    <table>
        <thead>
            <tr>
                <th class="col-idx">#</th>
                <th class="col-company">Company</th>
                <th>News Title</th>
                <th class="col-date">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for item in articles %}
            <tr>
                <td class="col-idx">{{ loop.index }}</td>
                <td class="col-company">{{ item.member_name }}</td>
                <td class="col-title">
                    <a href="{{ item.link }}" target="_blank">{{ item.title }}</a>
                </td>
                <td class="col-date">{{ item.published_display }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if not articles %}
<div class="empty-msg">
    오늘은 관련 뉴스가 없습니다.
</div>
{% endif %}
{% endblock %}