{% extends "layout.html" %}

{% block title %}정부과제 누적 표{% endblock %}

{% block extra_css %}{% endblock %}

{% block content %}
<h1>정부과제 누적 표</h1>
<p class="subtitle">수집된 정부과제 공고를 날짜순으로 모아둔 표입니다.</p>

{% if announcements %}
<div class="table-responsive">
    <table class="styled-table">
        <thead>
            <tr>
                <th class="col-idx">#</th>
                <th>공고 제목</th>
                <th class="col-dept">담당부서</th>
                <th class="col-dept">담당자</th>
                <th class="col-date">등록일</th>
            </tr>
        </thead>
        <tbody>
            {% for item in announcements %}
            <tr>
                <td class="col-idx">{{ loop.index }}</td>
                <td class="col-title"><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></td>
                <td class="col-dept">{{ item.dept or '-' }}</td>
                <td class="col-dept">{{ item.manager or '-' }}</td>
                <td class="col-date">{{ item.date or item.published_display }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="empty-msg">아직 수집된 정부과제가 없습니다.</div>
{% endif %}
{% endblock %}
