{% extends "layout.html" %}

{% block title %}Members Directory{% endblock %}

{% block content %}
<h1>Members Directory</h1>
<p class="subtitle">News gathered from {{ members|length }} sources</p>



<div class="table-responsive">
    <table class="styled-table">
        <thead>
            <tr>
                <th class="col-company">회사명</th>
                <th class="col-date">최근기사 생성날짜(요일)-시간</th>
                <th class="col-count">누적 기사수</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
            <tr>
                <td class="col-company">
                    <a href="{{ member.filename }}" class="text-decoration-none text-dark fw-bold">
                        {{ member.name }}
                    </a>
                </td>
                <td class="col-date">{{ member.latest_date }}</td>
                <td class="col-count">{{ member.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}